:root {
  --orange-bg: hsl(26, 100%, 55%);
  --dark-blue: hsl(220, 13%, 13%);
  --dark-gray-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --semi-black-bg: hsla(0, 0%, 0%, 75%);
  --font-family: "Kumbh Sans";
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}
