:root {
  --orange-bg: hsl(26, 100%, 55%);
  --dark-blue: hsl(220, 13%, 13%);
  --dark-gray-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --semi-black-bg: hsla(0, 0%, 0%, 75%);
  --font-family: "Kumbh Sans";
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: var(--grayish-blue);
}

button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

header {
  width: 70vw;
  height: 120px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--grayish-blue);
  justify-content: space-between;
}

.logo-and-nav,
.cart-and-pfp {
  display: flex;
  align-items: center;
}

.cart-and-pfp {
  justify-content: flex-end;
  align-items: center;
}

nav {
  margin-left: 50px;
}

.nav-links {
  padding: 0 20px 50px 20px;
  margin-right: 10px;
}

.nav-links:hover {
  border-bottom: 3px solid var(--orange-bg);
  color: var(--dark-gray-blue);
}

.pfp {
  margin-left: 50px;
  width: 40px;
}

.cart {
  position: relative;
}

.cart-box {
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease-in-out;
  transform: translateY(200px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 400px;
  position: absolute;
  top: -100px;
  left: -300px;
}

.cart-heading,
.cart-inside {
  padding: 20px 30px;
}

.cart-inside {
  border-top: 1px solid var(--light-grayish-blue);
}

.cart-box-in {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.cart-img {
  width: 50px;
  border-radius: 5px;
}

.cart-description-box {
  color: var(--grayish-blue);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.6;
}

.cart-total {
  color: var(--dark-blue);
}

.btn-empty-cart {
  margin-left: 10px;
}

.btn-checkout {
  width: 100%;
  padding: 15px 30px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  background: var(--orange-bg);
  border-radius: 10px;
}

.cart-active {
  opacity: 1;
  pointer-events: all;
}

main {
  width: 70vw;
  display: flex;
  padding-top: 100px;
}

.images {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: 400px 100px;
  gap: 10px;
  grid-row-gap: 30px;
}

.main-img,
.thumbnail-img {
  border-radius: 10px;
}

.main-img {
  width: 400px;
  grid-column: 1 / 5;
  justify-self: center;
}

.thumbnail-img {
  width: 80px;
  justify-self: center;
}

.current-img {
  border: 2px solid var(--orange-bg);
  opacity: 0.6;
}
