:root {
  --orange-bg: hsl(26, 100%, 55%);
  --dark-blue: hsl(220, 13%, 13%);
  --dark-gray-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --semi-black-bg: hsla(0, 0%, 0%, 75%);
  --font-family: "Kumbh Sans";
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: var(--grayish-blue);
}

button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

header {
  width: 70vw;
  height: 120px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--grayish-blue);
  justify-content: space-between;
}

.logo-and-nav,
.cart-and-pfp {
  display: flex;
  align-items: center;
  width: 50%;
}

.cart-and-pfp {
  justify-content: flex-end;
  align-items: center;
}

nav {
  margin-left: 50px;
}

.cart-box {
  display: none;
}

.nav-links {
  width: 0px;
  margin-right: 30px;
  padding-bottom: 50px;
}

.nav-links:hover {
  border-bottom: 3px solid var(--orange-bg);
}

.pfp {
  margin-left: 50px;
  width: 40px;
}
